body::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background: #6f42c1;
	border-radius: 5px;
}

.col {
  padding-bottom: 25px;
}

.foto-experiencia-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.foto-experiencia-img-ver {
  border-radius: 13px;
  width: 200px;
  height: 200px;
}

.btnimgUploader {
  font-weight: bold;
  padding-left: 3%;
  padding-right: 3%;
}

.botones-inferiores {
  padding-top: 10px;
  grid-gap: 10px;
  font-weight: bold;
}

.btn {
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.img-relacionada {
  border-radius: 10px;
  width: 70%;
  height: 70%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-text {
  color: black;
}

.h6-card {
  color: black;
  font-weight: bold;
}

#id-new-experiencia {
  display: none;
}

#id-delete-experiencia {
  display: none;
}

#id-update-experiencia {
  display: none;
}

.imagen-card-superior {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.div-imagen-relacionada {
  text-align: center;
}

.navbar-purple {
  height: 65px;
}
