.form-signin{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
/*
.Main2Container-Login_page {
  padding: 5% 1%;
  margin: 7% 15% 0 15%;
  background-color: lightgray;
  border-radius: 13px;
}

#SelecContainer-Login_page {
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/2;
}

#Palborde-Login_page {
  background-color: #1565c0;
  padding: 3vw 15vw;
  border-radius: 10px;
}

.input-Login_page {
  font-weight: bold;
  width: 100%;
  border: 1px solid black;
  height: 40px;
  border-radius: 13px;
}

.Dis-Login_page {
  display: none;
}

#SoloParaCentrar-Login_page {
  text-align: center;
}

.button2-Login_page {
  margin: 0;
  margin-top: 2vw;
}

#InfoContainer-Login_page {
  margin-right: 3vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-row: 1/2;
  grid-column: 2/3;
  color: black;
}

#InfoContainer-Login_page img {
  width: 15vw;
}

#InfoContainer-Login_page h2 {
  text-align: center;
  font-size: 1.5vw;
}

#InfoContainer-Login_page p {
  font-size: 1.3vw;
}

.button2-Login_page {
  border-radius: 13px;
  border: 0px;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 20px;
}

.button2-Login_page:hover {
    background-color: black;
    color: white;
  }


@media (max-width: 680px) {
  .Main2Container-Login_page {
    text-align: center;
    margin: 0;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr;
  }
  #SelecContainer-Login_page {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  #InfoContainer-Login_page {
    margin-bottom: 3vw;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #Palborde-Login_page {
    padding: 5vw;
  }
}
*/